@keyframes slide1 {
    0% {
        transform: translate(-8vw);
    }

    100% {
        transform: translate(85vw);
}
}

@keyframes slide2 {
    0% {
        transform: translate(0vw);
    }

    100% {
        transform: translate(92vw);
}
}
@keyframes slide3 {
    0% {
        transform: translate(8vw);
    }

    100% {
        transform: translate(90vw);
}
}
img{
    display: inline-block;
    margin: auto;
}
.img1{
    transform: translate(-8vw);
    animation: slide1 8s 1s alternate-reverse infinite;
}
.img2{
    transform: translate(8vw);
    animation: slide2 8s 1s alternate-reverse infinite;
}
.img3{
    transform: translate(0vw);
    animation: slide3 8s 1s alternate-reverse infinite;
}